*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes fadein {
    from{
        opacity: 0
    }
    to {
        opacity: 1
    }
}

body{
    background-color: rgb(12, 12, 12);
    color: white;
}

main{
    animation: fadein 1s ease-in;
}


.navbar-header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(12,12,12);
}

.navbar-header-main-child-div {
    background-color: rgb(15,15,15);
    width: 650px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-header-main-child-div nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar-header-main-child-div nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar-header-main-child-div nav a:hover {
    color: #29c090;
}

.main-info{
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-main-info{
    background-color: rgb(19,19,19);
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.facebook-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-main-child-div {
    background-color: rgb(19,19,19);
    width: 700px;
    height: 100px;
    margin: 20px;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.facebook-main-child-div img{
    border: 1px solid transparent;
    border-radius: 15px;
}

.facebook-main-child-div a {
    text-decoration: none;
    font-size: 30px;
    margin-left: 110px;
    color: gray;
    font-weight: bold;
    transition: color 0.25s ease;
}


.facebook-main-child-div a:hover {
    color:whitesmoke ;
}


.instagram-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-main-child-div {
    background-color: rgb(19,19,19);
    width: 700px;
    height: 100px;
    margin: 20px;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.instagram-main-child-div img{
    border: 1px solid transparent;
    border-radius: 15px;
}

.instagram-main-child-div a {
    text-decoration: none;
    font-size: 30px;
    margin-left: 110px;
    color: gray;
    font-weight: bold;
    transition: color 0.25s ease;
}


.instagram-main-child-div a:hover {
    color:whitesmoke ;
}


.tiktok-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiktok-main-child-div {
    background-color: rgb(19,19,19);
    width: 700px;
    height: 100px;
    margin: 20px;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.tiktok-main-child-div img{
    border: 1px solid transparent;
    border-radius: 15px;
}

.tiktok-main-child-div a {
    text-decoration: none;
    font-size: 30px;
    margin-left: 110px;
    color: gray;
    font-weight: bold;
    transition: color 0.25s ease;
}


.tiktok-main-child-div a:hover {
    color:whitesmoke ;
}

main img{
    transition: transform 0.33s ease;
}

main img:hover{
    transform: scale(1.05);
}




#main-main-child-div-header{
    transition: color 0.3s ease-in-out;
}

#main-main-child-div-header:hover{
    color: #29c090
}