*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(12, 12, 12);
    color: white;
}

main{
    animation: fadein 1s ease;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.navbar-header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(12,12,12);
}

.navbar-header-main-child-div {
    background-color: rgb(15,15,15);
    width: 650px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-header-main-child-div nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar-header-main-child-div nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar-header-main-child-div nav a:hover {
    color: #29c090;
}


.info-main-div{
    display: flex;
    justify-content: center;
}

.info-main-child-div{
    background-color: rgb(19,19,19);
    width: 700px;
    margin: 20px;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    align-items: center;
}

.info-main-child-div h1{
    font-size: 30px;
    margin-right: 20px;
    transition:  color, transform 0.25s ease;
}

.info-main-child-div h1:hover{
    transform: scale(1.01);
    color: #36ba1f;
}

.par{
    font-size: 30px;
    margin-right: 20px;
    transition:  color, transform 0.25s ease-in;
}

.par:hover{
    transform: scale(1.01);
    color: #36ba1f;
}

.info-main-child-div a{
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    background-color: #36ba1f;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    display: inline-block;
}

.info-main-child-div a:hover{
    color: #36ba1f;
    background-color: white;
}

.info-main-child-div img{
    border-radius: 20px;
    width: 120px;
    height: auto;
    margin-left: 270px;
    transition: transform 0.33s ease;
}

.info-main-child-div img:hover{
    transform: scale(1.05);
}
